span.right {
    float: right;
    margin-right:10px;
}
.topTracker {
    margin-left: 10px;
    padding: 5px;
    font-size: medium;
}
#quiz {
    padding: 5px;
    text-align: center;
}
body {
    font-size: 50px;
    font-family: serif;
    color: chocolate;
    height: 1000px;
    background-color: darkslategray;
}
#startBtn {
    margin-top: 50px;
    margin-left: 45%;
}
#results {
    text-align: center;
}
